#header{
    background:linear-gradient(#bdc3c7,#2c3e50)
}
.body{
     background:linear-gradient(#bdc3c7,#2c3e50);
}
#objective{
   background:linear-gradient(#bdc3c7,#2c3e50);
}


.information{
   background:linear-gradient(#bdc3c7,#2c3e50);
}


#education{
   background:linear-gradient(#bdc3c7,#2c3e50);
}
#language{
  background:linear-gradient(#bdc3c7,#2c3e50);
}

#resume{
    background:linear-gradient( #3E5151,#DECBA4)
}
#hobbies{
     background:linear-gradient( #3E5151,#DECBA4)
}